@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap);
* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Source+Sans+Pro', sans-serif;
    font-weight: 500;
    font-size: 22px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2d0353;
}
input{
    margin: 2px;
    border: none;
    border-radius: 3px;
}
input[type=text] {
    width: calc(100% - 4px);
    height: 40px;

}
input[type=button] {
    width: 100px;
    height: 50px;
    transition: ease 0.2s;
    cursor: pointer;
}
div#calculadora {
    box-shadow: 0 0 20px #000000;
}
div#calculadora div{
    display: flex;
}
div#calculadora input:nth-child(4) {
    background-color: #c2bfbf;
}
div#quarta input:nth-child(1) {
    background-color: #f00d0d;
    
}
div#quarta input:nth-child(1), div#calculadora {
    border-bottom-left-radius: 35px;
}
div#quarta input:nth-child(4), div#calculadora {
    border-bottom-right-radius: 35px;
}
div#quarta input:nth-child(3) {
    background-color: #06f81a;
    
}
div#quarta input:nth-child(4){
    border-bottom-right-radius: 35px;
}
input[type=button]:hover {
    filter: brightness(50%)
}
input[type=button]:active{
    transform: scale(0.9);
}